@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section span 
{
  position: relative;
  display: block;
  width: 3vw;
  height: 10vw;
  background: #101010;
  z-index: 2;
  transition: 2s;
  margin: 2px;
}

.hover {
  /*background: rgb(104, 202, 104);*/
  background: #7f7f7f;
  /*box-shadow: 0px 0px 10px 0px rgb(66, 147, 66);*/
  transition: 0s;
}

main {
  display: inline-grid;
  width: 100%;
  height: auto;
  position: inherit;
}

h1 {
  font-family: 'Gantari';
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #ffffff;

}

.title {
  display: grid;
  position: initial;
  z-index: 10;
  width: 100%;
  align-items: end;
  min-height: 100px;
}

header {
  display: none;
  position: initial;
  z-index: 10;
  width: 100%;
  align-items: center;
  background: #000;
  box-shadow: 0px 0px 10px 5px #000000;
  padding: 10px 7%;
}

h2 {
  color: #ffffff;
  font-size: 27px;
  font-weight: 500;
  font-family: 'Gantari';
}

h3 {
  color: #ffffff;
  font-size: 17px;
}

p {
  color: #f0f0f0;
  font-size: 14px;
}

footer {
  backdrop-filter: blur(1px);
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
}
